body {
	font-family: sans-serif;
	background-color:transparent;
}
.slide, .footer {
	background: #eef;
	color: #000;
}
.slide {
	padding: 0;
	padding-right: 5em;
	background: url(architect.png) top right no-repeat ;
}
.slide > * {
	margin-left: 1em;
}
.slide h2{
	margin: 0;
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	width: 100%;
	background-color: #ccd;

}
.footer {
	padding-top: 5px;
	background: url(footer_top.png) #ccd repeat-x top left;
}
a {
	text-decoration: none;
	color: #00a;
}

.outline {
	background-color: #ccd;
	padding: 1em;
	padding-right: 0;
}
div.source {
   font:80%/1.1 courier new;
   margin-top:5px;
   margin-bottom:5px;
}
.comment
{
	color: #008000;
}
