html, body, .footer{
	  margin: 0;
	  padding: 0;
}
.footer {
	padding: 0 1em;
	width: 100%;
	height: 10%;
	position: fixed;
	top: 90%;
	left: 0;
	z-index: 5;
}
.footer > * {
	margin: 0;
	padding: 0;
	font-size: 0.75em;
}
.slide {
	margin: 0;
	padding: 0 1em;
	width: 100%;
	height: 90%;
	position: fixed;
	top: 0;
	left: 0;
}

.slide.first {
	height: 100%;
}

.outline {
	position: fixed;
	right: 0;
	top: 20%;
	width: 20em;
	font-size: xx-small;
	background-color: inherit;
	z-index: 105;
	display: none;
	max-height: 70%;
	overflow: auto;
	margin: 0;
}
